html {
  height: 100%;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
}

body {
  margin: 0 0;
  min-height: 100%;
  min-width: 100%;
  background-color: #605;
  animation: background-shimmer 20s forwards infinite;
}

div, h2, h3 {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

img {
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#main-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  pointer-events: none;
}

#hog-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  flex-direction: column;
  height: 80%;
}

.hog-title {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
  padding: 35px 0;
  font-size: 25pt;
  animation: text-wobble 20s forwards ease-in-out infinite;\
}

.hog-title-letter {
  padding: 0 0;
  margin: 0 0;
  cursor: default;
  transform: rotateY(5deg);
  color: green;
  text-shadow: -3px 0px 0px #DfD;
  animation: text-reveal 10s forwards ease-in-out infinite;
}

.hog-content-wrapper {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#haiku-wrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  padding: 0 15px;
}

.home-group {
  pointer-events: auto;
}

.hog {
  opacity: 0;
  pointer-events: none;
}

#main {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 150px;
}

#logo-wrapper {
  padding: 0 8%;
  height: fit-content;
  width: fit-content;
}

.haiku-line {
  margin: 10px 0px;
}

.text-glow-white {
  color: white;
  font-size: 15pt;
  cursor: default;
  text-shadow: 0px 0px 7px #fff;
}

.click-text-glow-white {
  color: white;
  font-size: 30pt;
  cursor: pointer;
  text-shadow: 0px 0px 7px #fff;
}
.click-text-glow-white:hover {
  animation: white-soft-glow 3s forwards ease-in-out infinite;
}

#center-text {
  width: fit-content;
  height: fit-content;
}

@keyframes background-shimmer {
  0% { background-color: #605 }
  33.3% { background-color: #523 }
  66.6% { background-color: #424 }
  100% { background-color: #605 }
}

@keyframes white-soft-glow {
  /*text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/
  /*ex: text-shadow: 2px 2px #ff0000;*/
  0% { text-shadow: 0px 0px 9px #fff; }
  50% { text-shadow: 0px 0px 25px #fff; }
  100% { text-shadow: 0px 0px 9px #fff; }
}

@keyframes text-wobble {
  0%   { transform: translateX(0px);  }
  50%  { transform: translateX(15px); }
  100% { transform: translateX(0px);  }
}
@keyframes text-reveal {
  0%   { transform: translateY(0px)   rotateY(5deg);  text-shadow: -3px 0px 0px #DfD; color: green; }
  25%  { transform: translateY(-25px) rotateY(10deg); text-shadow: -5px 0px 0px #D66; color: red;}
  50%  { transform: translateY(0px)   rotateY(20deg); text-shadow: -6px 0px 0px #8CD; color: blue;}
  75%  { transform: translateY(25px)  rotateY(10deg); text-shadow: -5px 0px 0px #FC8; color: orange;}
  100% { transform: translateY(0px)   rotateY(5deg);  text-shadow: -3px 0px 0px #DfD; color: green; }
}
/*@keyframes text-reveal {
  0%   { transform: rotateX(0deg); transform: rotateY(0deg); text-shadow: 0px 0px 0px #fff; color: green; }
  25%  { transform: rotateX(5deg); transform: rotateY(10deg); text-shadow: -10px 5px 0px #D66; color: red;}
  50%  { transform: rotateX(10deg); transform: rotateY(20deg); text-shadow: -20px 10px 0px #8CD; color: blue;}
  75%  { transform: rotateX(5deg); transform: rotateY(10deg); text-shadow: -10px 5px 0px #FC8; color: orange;}
  100% { transform: rotateX(0deg); transform: rotateY(0deg); text-shadow: 0px 0px 0px #fff; color: green; }
}*/

.fade-up-out {
  animation: fade-up-out .7s ease-in forwards;
}

.fade-down-in {
  animation: fade-down-in .7s ease-out forwards;
}

@keyframes fade-up-out {
  0% { transform: translateY(0px); opacity: 1 }
  100% { transform: translateY(-40px); opacity: 0 }
}

@keyframes fade-down-in {
  0% { transform: translateY(-80px); opacity: 0 }
  100% { transform: translateY(0px); opacity: 1 }
}
